*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    border:1px solid black;
}
/* navbar */

.headermain{
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin: auto;
    margin-top: 10px;
    height: 50px;
   
    background-color: rgb(25, 25, 70);
    color:white;
}
.navigationbar{
    display:flex;
    margin-right:30px;
    /* width:50%; */
    border:2px solid rgb(230, 15, 176);
}
/* aside Nav bar   */
.asidebarnav{
    /* margin-top: 40px;   */
    position: absolute;
    top:65px;
    left: 22px; /*margin left in the side bar to maintain gab*/
    width: 230px;
    height: 88%;
    background-color:rgb(25, 25, 70) ;
    /* border-end-start-radius: 2px solid green; */
}
/* main div */
.mainclass{
    width: 77%;
    height: 78%;
    position: absolute;
    top:130px;
    right: 20px;
    border:2px solid rebeccapurple;
}
