*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
   
}
/* image LOGO header */
.imglogo img{
  position: relative;
  transform: translate(100%);
  height:70px;
  color: #BDBDBD;
  /* background-color:black; */
  /* border:2px solid red; */
}
#h23{
  padding-top: 3px;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 2em;
  color:white;
  text-shadow: 4px 4px 5px #BDBDBD;
  /* border: 2px solid rgb(255, 255, 255); */
}

/* navbar */

.headermain{
     display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    margin: auto;
    /* margin-top: 10px; */
    height: 50px;
    background-color: rgb(25, 25, 70);
    color:white;
}
.headermain p{
    margin-left: 16px;
    font-weight: 500;
    font-size: 1.5em; 
    color: #BDBDBD;
    text-shadow: 1px 1px 2px #BDBDBD;
}
/* image */
.navigationbar{
    display:flex;
    justify-content: space-between;
    /* border:2px solid rgb(230, 15, 176); */
    gap:10px;
    margin-right: 10px;
}
.adminpanel, .account{
  display: flex;
  gap:4px;
  margin: 2px;
    background-color: #000000;
    padding: 5px;
    /* gap:3px; */
    color:#BDBDBD;
    font-weight: 200;
    box-shadow: 3px 1px 1px gray;

}
.adminpanel:hover, .account:hover{
  box-shadow: 3px 1px 1px gray inset
}
/* aside Nav bar   */
.asidebarnav{
    /* margin-top: 40px;   */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    position: absolute;
    top:50px;
    left: 0px; /*margin left in the side bar to maintain gab*/
    width: 230px;
    /* height: 100vh; */
    background-color:rgb(25, 25, 70) ;
}
.asidebarnav ul{
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
    margin-top: 40px;
    list-style: none;
    gap:5px;
    /* border:none; */
}
.asidebarnav ul li>a{
    display: inline-block;
    text-decoration: none;
    align-self: center;
    width: 100%;
    height: 40px;
    line-height: 1.2em;
    font-size: 1.2em;
    padding-top: 6px;
    text-align: center;
    color: rgb(104, 104, 199);
    font-weight: 600;
    border:none;
    border-left: 6px solid rgb(25, 25, 70);
    border-right: 6px solid rgb(25, 25, 70);

}
.asidebarnav ul li>a:hover{
     border-left: 6px solid rgb(30, 114, 197);
     border-right: 6px solid rgb(30, 114, 197);
     background-color: #2195f325;
     font-weight: 800;
}
/* main div */
.mainclass{
    width: 80%;
    height: 78%;
    position: absolute;
    top:130px;
    right: 9px;
    /* border:2px solid rebeccapurple; */
}
/* circularindication points on the top of the main */
  /* topbar ship address */
  .topbar {
    background-color: #FFFFFF;
    display: flex;
    width: 74%;
    margin: auto;
    justify-content: space-between;
    position: relative;
    top:30px;
    left: 100px; 
    /* border: 2px solid rebeccapurple; */
    
  }
  
  /* selected circle first 1 */
  #firstship {
    background-color: #2196F3;
  }
  
  /* for the top circle 1, 2, 3 */
  .ship {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: #364152;
    color: white;
    text-align: center;
    font-size: .9em;
    padding:2px;
  }
  
  /* line in between the circle in the top section */
  .lin {
    text-decoration: none solid rgb(43, 51, 63);
    width: 20%;
    border-bottom: 1px solid #BDBDBD;
    align-self: center;
  }
  /* responsiveness */
  @media (max-width: 760px) {
    .lin {
      /* height:309px; */
        width: 15%; /* Change the width when the screen width is smaller than 50vw */
    }
    .topbar{
      width:50%;
    }
    .mainclass{
      width:60%;
    }
    .asidebarnav{
      width:200px;
    }
}