
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
.contin{
    width:100%;
    height:100vh;
background-color:rgb(189, 131, 131);
display:grid;
grid-template-areas: "hr hr hr hr hr"
                     "sd main main main main"
                     "sd main main main main"
                     "sd main main main main"
                     "sd main main main main";
 gap:3px;
/* grid-t gap:3px;
/* grid-template-rows:1fr,           ;
grid-template-columns:repeat(1fr,4);

color:black; */


}
.headermain{
    border:3px solid black;
    background-color:cyan;
    text-align:center;
    font-weight:700;
    font-size:1.5em;
    /* text-transform:; */
    color:rgb(0, 0, 0);
    grid-area:hr;
    
}
.asidebarnav{
    grid-area:sd;
    /* flex-direction: column; */
    border:3px solid rgb(172, 106, 106);
    background-color:rgb(73, 112, 112);
    text-align:center;
    font-weight:700;
    font-size:1.5em;
    color:white;
}
.mainclass{
    grid-area:main;
    border:3px solid rgb(143, 49, 49);
    background-color:rgb(9, 49, 49);
    text-align:center;
    font-weight:700;
    font-size:1.5em;
    color:white;
    /* grid-column:2/5; */
    /* grid-row:2/ span 5; */
    /* position:relative; */
    /* z-index:3; */
    
}
